# TIME SERIES

TIME STAMPS ->PARTICULAR MOMENTS IN TIME
TIME INTERVALS AND PERIODS ->LEN OF TIME B\W PARTICULAR BEGINING AND END POINT 
TIME DELTAS ->DURATION REFERENCES EXACT LEN OF TIME

In [2]:
from datetime import datetime      ##  --->package

In [3]:
datetime(year=2005,month=7,day=3)

datetime.datetime(2005, 7, 3, 0, 0)

In [4]:
datetime(2000,5,1)  # also crt

datetime.datetime(2000, 5, 1, 0, 0)

In [8]:
from dateutil import parser       ##---->package
date=parser.parse("3 of july,2005")
date

datetime.datetime(2005, 7, 3, 0, 0)

In [10]:
date.strftime('%A')   ##->for the day when u specify the date it shows the day of it

'Sunday'

In [11]:
date.strftime('%a')

'Sun'

In [17]:
import numpy as np
date=np.array('2005-07-03',dtype=np.datetime64)
date

array('2005-07-03', dtype='datetime64[D]')

In [18]:
date + np.arange(13)    ##--->from 3 it starts to 15 it stops

array(['2005-07-03', '2005-07-04', '2005-07-05', '2005-07-06',
       '2005-07-07', '2005-07-08', '2005-07-09', '2005-07-10',
       '2005-07-11', '2005-07-12', '2005-07-13', '2005-07-14',
       '2005-07-15'], dtype='datetime64[D]')

In [19]:
date - np.arange(13)      ##---> - na reverse order la print agum

array(['2005-07-03', '2005-07-02', '2005-07-01', '2005-06-30',
       '2005-06-29', '2005-06-28', '2005-06-27', '2005-06-26',
       '2005-06-25', '2005-06-24', '2005-06-23', '2005-06-22',
       '2005-06-21'], dtype='datetime64[D]')

In [21]:
np.datetime64('2005-03-07')       ##-->numpy la drawback is format crt ah erukanum ist year month and date

numpy.datetime64('2005-03-07')

In [27]:
np.datetime64('2005-07-03 12:00')

numpy.datetime64('2005-07-03T12:00')

In [29]:
np.datetime64('2005-07-03 12:16:30','ns')   ##-->hour minute second ns na nanosecond

numpy.datetime64('2005-07-03T12:16:30.000000000')

In [30]:
np.datetime64('2005-07-03 12:16:30','ps')

numpy.datetime64('1969-11-05T18:26:41.503717351424')

# TIME SERIES IN PANDAS

numpy has some drawbacks so we use pandas

In [47]:
import pandas as pd
date=pd.to_datetime("2005 ,3rd of july")
date

Timestamp('2005-07-03 00:00:00')

In [48]:
date=pd.to_datetime("july 2005 3rd") ## also crt diff formats  but same ans
date

Timestamp('2005-07-03 00:00:00')

In [49]:
date.strftime("%A")

'Sunday'

In [50]:
date=pd.to_datetime("2001 ,23rd of feb")
date

Timestamp('2001-02-23 00:00:00')

In [51]:
date.strftime("%A")

'Friday'

In [52]:
date +pd.to_timedelta(np.arange(5),'D')

DatetimeIndex(['2001-02-23', '2001-02-24', '2001-02-25', '2001-02-26',
               '2001-02-27'],
              dtype='datetime64[ns]', freq=None)

In [53]:
date - pd.to_timedelta(np.arange(5),'d')

DatetimeIndex(['2001-02-23', '2001-02-22', '2001-02-21', '2001-02-20',
               '2001-02-19'],
              dtype='datetime64[ns]', freq=None)

In [55]:
index=pd.DatetimeIndex(['2001-02-23','2001-02-22', '2001-02-21', '2001-02-20'])
data=pd.Series([0,1,2,3],index=index)
data

2001-02-23    0
2001-02-22    1
2001-02-21    2
2001-02-20    3
dtype: int64

In [57]:
index=pd.DatetimeIndex(['2001-02-23 12:00','2001-02-22 10:30', '2001-02-21', '2001-02-20'])
data=pd.Series([0,1,2,3],index=index)
data

2001-02-23 12:00:00    0
2001-02-22 10:30:00    1
2001-02-21 00:00:00    2
2001-02-20 00:00:00    3
dtype: int64

In [65]:
data[2:]

2001-02-21    2
2001-02-20    3
dtype: int64

In [66]:
data['2001-02-23']

2001-02-23 12:00:00    0
dtype: int64

In [70]:
data['2001'] ##only year ku mattum varum not for month and date

2001-02-23 12:00:00    0
2001-02-22 10:30:00    1
2001-02-21 00:00:00    2
2001-02-20 00:00:00    3
dtype: int64

In [ ]:
##pandas in data structure

In [83]:
dates=pd.to_datetime([datetime(2005,7,3),'5rd july 2005','2006-07-03','20050703'])
dates

DatetimeIndex(['2005-07-03', '2005-07-05', '2006-07-03', '2005-07-03'], dtype='datetime64[ns]', freq=None)

In [84]:
dates.to_period('D')  ##-->date and day frequency

PeriodIndex(['2005-07-03', '2005-07-05', '2006-07-03', '2005-07-03'], dtype='period[D]')

In [85]:
dates -dates[0] ##-->the diff b/w the dates

TimedeltaIndex(['0 days', '2 days', '365 days', '0 days'], dtype='timedelta64[ns]', freq=None)

In [89]:
pd.date_range('2006-07-03','07-03-2007')

DatetimeIndex(['2006-07-03', '2006-07-04', '2006-07-05', '2006-07-06',
               '2006-07-07', '2006-07-08', '2006-07-09', '2006-07-10',
               '2006-07-11', '2006-07-12',
               ...
               '2007-06-24', '2007-06-25', '2007-06-26', '2007-06-27',
               '2007-06-28', '2007-06-29', '2007-06-30', '2007-07-01',
               '2007-07-02', '2007-07-03'],
              dtype='datetime64[ns]', length=366, freq='D')

In [90]:
pd.date_range('2006-07-03',periods =4)

DatetimeIndex(['2006-07-03', '2006-07-04', '2006-07-05', '2006-07-06'], dtype='datetime64[ns]', freq='D')

In [91]:
pd.date_range('2006-07-03','09-03-2006')

DatetimeIndex(['2006-07-03', '2006-07-04', '2006-07-05', '2006-07-06',
               '2006-07-07', '2006-07-08', '2006-07-09', '2006-07-10',
               '2006-07-11', '2006-07-12', '2006-07-13', '2006-07-14',
               '2006-07-15', '2006-07-16', '2006-07-17', '2006-07-18',
               '2006-07-19', '2006-07-20', '2006-07-21', '2006-07-22',
               '2006-07-23', '2006-07-24', '2006-07-25', '2006-07-26',
               '2006-07-27', '2006-07-28', '2006-07-29', '2006-07-30',
               '2006-07-31', '2006-08-01', '2006-08-02', '2006-08-03',
               '2006-08-04', '2006-08-05', '2006-08-06', '2006-08-07',
               '2006-08-08', '2006-08-09', '2006-08-10', '2006-08-11',
               '2006-08-12', '2006-08-13', '2006-08-14', '2006-08-15',
               '2006-08-16', '2006-08-17', '2006-08-18', '2006-08-19',
               '2006-08-20', '2006-08-21', '2006-08-22', '2006-08-23',
               '2006-08-24', '2006-08-25', '2006-08-26', '2006-08-27',
               '2006-08-28', '2006-08-29', '2006-08-30', '2006-08-31',
               '2006-09-01', '2006-09-02', '2006-09-03'],
              dtype='datetime64[ns]', freq='D')

In [92]:
pd.date_range('2006-07-03',periods =1000)

DatetimeIndex(['2006-07-03', '2006-07-04', '2006-07-05', '2006-07-06',
               '2006-07-07', '2006-07-08', '2006-07-09', '2006-07-10',
               '2006-07-11', '2006-07-12',
               ...
               '2009-03-19', '2009-03-20', '2009-03-21', '2009-03-22',
               '2009-03-23', '2009-03-24', '2009-03-25', '2009-03-26',
               '2009-03-27', '2009-03-28'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [94]:
pd.date_range('2006-07-03',periods =4,freq='H')

DatetimeIndex(['2006-07-03 00:00:00', '2006-07-03 01:00:00',
               '2006-07-03 02:00:00', '2006-07-03 03:00:00'],
              dtype='datetime64[ns]', freq='H')

In [ ]:
z